body {
  color: #000000;
  min-height: 100%;
}

a {
  color: #000000;
  text-transform: none;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}