.header {
  padding: 20px 0;
  border-bottom: 1px solid #f1f1f1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header__logo {
  margin-bottom: 0;
  font-size: 28px;
}

.shopping-cart {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.shopping-cart__icon {
  margin-right: 12px;
  color: #17A2B8;
  font-size: 30px;
  transition: color .15s ease-in-out;
}

.shopping-cart:hover .shopping-cart__icon {
  color: #138496;
}
